.page-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2e34;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.bracket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    --bracket-color: rgb(255, 255, 255);
}

.bracket-container::before,
.bracket-container::after {
    content: '';
    position: absolute;
    color: var(--bracket-color);
}

.bracket-container::before {
    top: 0;
    left: 0;
    border-top: 0.5rem solid var(--bracket-color);
    border-left: 0.5rem solid var(--bracket-color);
    width: 10%;
    height: 10%;
}

.bracket-container::after {
    bottom: 0;
    right: 0;
    border-bottom: 0.5rem solid var(--bracket-color);
    border-right: 0.5rem solid var(--bracket-color);
    width: 10%;
    height: 10%;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
}

.card {
    background: #101010;
    color: white;
    border-radius: 2%;
}

.resize-based-on-parent {
    width: 100%;
    height: 100%;
}

.transition-slow {
    transition-duration: 1s;
}


header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}