.glitch {
    position: relative;
    font-size: 6rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.05rem;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
}

.glitch::before {
    left: -0.2rem;
    text-shadow: 0.1rem 0 red;
    animation: glitch 1s infinite linear alternate-reverse;
}

.glitch::after {
    left: 0.2rem;
    text-shadow: 0.1rem 0 blue;
    animation: glitch 1s infinite linear alternate;
}

@keyframes glitch {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0.1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}